.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .center-container {
    text-align: center;
  }
  
  .login-form {
    width: 300px;
  }
  